@model ContaDTO;

@{

    ViewData["Title"] = ViewBag.Crud.Titulo;
}

@await Component.InvokeAsync("CRUD")

<form method="post" id="@String.Concat("frm_manutencao_",ViewBag.Crud.Operacao).ToLower()" asp-action="Manutencao">

    <input type="hidden" name="operacao" value="@ViewBag.Crud.Operacao">



    @if (ViewBag.Crud.Operacao != Opcoes.Create)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="row">
        <div class="form-group col-5">

            <label asp-for="BancoId"></label>
            @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
            {
                <select asp-for="BancoId" class="select2-single form-control" asp-items="@ViewBag.Bancos" disabled="disabled">
                    <option value="">Selecione o Banco</option>
                </select>

            }
            else
            {
                <div class="form-group">

                    <select asp-for="BancoId" class="select2-single form-control form-control-lg" id="select2SingleBanco" asp-items="@ViewBag.Bancos">
                        <option value="">Escolha o Banco</option>
                    </select>
                </div>

            }
            <span asp-validation-for="BancoId" class="text-danger"></span>

        </div>
    </div>


      
     <div class="row">
        <div class="form-group col-5">

            <label asp-for="AgenciaId"></label>
            @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
            {
                <select asp-for="AgenciaId" class="select2-single form-control" asp-items="@ViewBag.Agencias" disabled="disabled">
                    <option value="">Selecione a Agência</option>
                </select>

            }
            else
            {
                <div class="form-group">
 
                    <select asp-for="AgenciaId" class="select2-single form-control form-control-lg" id="select2SingleAgencia" asp-items="@ViewBag.Agencias">
                        <option value="">Escolha a Agência</option>
                    </select>
                </div>

            }
            <span asp-validation-for="AgenciaId" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="form-group col-2">
            <label asp-for="NumeroConta"></label>

            @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
            {
                <input asp-for="NumeroConta" class="form-control" placeholder="Número da Conta" disabled="disabled">
            }
            else
            {
                <input asp-for="NumeroConta" class="form-control" placeholder="Número da Conta">
            }

            <span asp-validation-for="NumeroConta" class="text-danger"></span>
        </div>

        <div class="form-group col-2">
            <label asp-for="DigitoConta"></label>

            @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
            {
                <input asp-for="DigitoConta" class="form-control" placeholder="Dígito da Conta" disabled="disabled">
            }
            else
            {
                <input asp-for="DigitoConta" class="form-control " placeholder="Dígito da Conta">
            }

            <span asp-validation-for="DigitoConta" class="text-danger"></span>
        </div>

        <div class="form-group col-8">
            <label asp-for="NumeroConvenio"></label>

            @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
            {
                <input asp-for="NumeroConvenio" class="form-control" placeholder="Número do Convênio" disabled="disabled">
            }
            else
            {
                <input asp-for="NumeroConvenio" class="form-control " placeholder="Número do Convênio">
            }

            <span asp-validation-for="NumeroConvenio" class="text-danger"></span>
        </div>


    </div>

    @await Component.InvokeAsync("CRUD_Acao")

</form>