@{
    @model IEnumerable<BeneficiarioDTO>
    ViewData["Title"] = "Lançamento de Títulos ao Pagador";
}

<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Beneficiário</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item">Beneficiário</li>
                    </ol>
                </div>

                <!-- Row -->
                <div class="row">
                    <!-- DataTable with Hover -->
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Beneficiário</h6>
                            </div>
                            <div class="table-responsive p-3">
                                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th> @Html.DisplayNameFor(model => model.Id)</th>
                                            <th> @Html.DisplayNameFor(model => model.CNPJ_CPF)</th>
                                            <th> @Html.DisplayNameFor(model => model.Nome)</th>
                                            <th> @Html.DisplayNameFor(model => model.Cidade)</th>
                                            <th> Ação</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th> @Html.DisplayNameFor(model => model.Id)</th>
                                            <th> @Html.DisplayNameFor(model => model.CNPJ_CPF)</th>
                                            <th> @Html.DisplayNameFor(model => model.Nome)</th>
                                            <th> @Html.DisplayNameFor(model => model.Cidade)</th>
                                            <th> Ação</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (BeneficiarioDTO objeto in Model)
                                        {
                                            <tr>
                                                <td>@objeto.Id</td>
                                                <td>@objeto.CNPJ_CPF</td>
                                                <td>@objeto.Nome</td>
                                                <td>@objeto.Cidade</td>
                                                <td>

                                                    <a asp-action="Cadastrar" asp-route-id="@objeto.Id" class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Gestão de Títulos">
                                                        <span class="material-symbols-outlined">
                                                            dictionary
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row-->




            </div>
            <!---Container Fluid-->
        </div>


    </div>
</div>
